<%- include('../template/header') -%>
<%- include('../template/navbar') -%>


<div class="tableNews">
    <div class="container pt-4" style="background:rgb(255 255 255 / 60%);">
        <h1 class="text-center" style='margin-top:3em'>
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top"  src="/images/bdlogo.png" style="width:80px; height: 80px;">
                </div>
                <div class="col-md-6"><img class="card-img-top"  src="<%= output.newspapers[0].logo %>" style="width:300px; height: 100px;"></div>
                <div class="col-md-3">
                    <img src="/images/ais.png" style="width:80px; height: 80px;">
                </div>
            </div>

        </h1>

        <div style=" margin-bottom: 20px; padding-bottom: 5px; padding-top: 10px; margin-top: 30px; background-color: #ffffffa6; box-shadow: 2px 2px 12px black;" class="text-center">
            <h2 class="text-center mb-4" >
                <span style="font-family:'roboto'; font-weight:bold; color:#254c2a">News Headline: </span> <span style="font-family: myFirstFont;"><%= output.headline %></span>
            </h2>
            <div >
                <span style="font-size: 20px; font-family: myFirstFont"> <%= output.date.toISOString().split('T')[0] %>, <%= output.district %> </span> <br>
                <span style="font-size: 20px; font-family: myFirstFont"> পৃষ্ঠা নংঃ </span> <span style="font-size: 15px; font-weight:bold"><%= output.pageNumber %>   </span>
                <br>
                <a href="<%= output.image %>" download>
                    <button class="btn btn-info" style="background-image: linear-gradient(45deg, #06a014, #28ff00b0)">
                        Download News 
                    </button>
                </a>
                <br>
            </div>
        </div>
        
        <div class="text-center" style="position: relative">
            <img class="img-fluid" id="test" src="<%= output.image %>" alt="">
            <br>
            
        </div>

        <!-- Social Media Sharing -->

        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
            Share on Facebook
        </a> -->
 
        <!-- <button class="btn btn-light">
            <a href="/generateReport/<%= output.id %>">Download Pdf</a>
        </button>  -->
    </div>
</div>

<%- include('../template/footer') -%>
    

