<%- include('../template/header') -%>
<%- include('../template/navbar') -%>
<%- include('../template/sidebar') -%>

<div class="tableNews">

    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 300px;">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/home.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/home.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/home.jpg" alt="Third slide">
          </div>
        </div>
    </div> --> 


    <div class="container">
        <h1 class="text-center" style='padding-top:3em'>Today's News</h1>
        <% if(output.length > 0) { %>
            <div class="row">
                <% output.forEach((entry) => { %>   
                <div class="col-md-4" style="margin-bottom: 10px;">                
                    <div class="card-deck">
                        <div class="card card__one" style="box-shadow: 4px 4px 5px #929293;">
                            <div class="card-header text-center" style="font-weight:bold;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="card-img-top" style = "width:50px; height:50px " src="<%= entry.newspapers[0].logo %>">
                                        <span class="ml-2"><%= entry.newspapers[0].newsPaperName %></span>
                                    </div>

                                </div>

                            </div>
                            <img class="card-img-top" width="auto" height="200px" src="<%= entry.image %>">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: justify;"><%= entry.headline %></h5>
                                <h6 class="card-text" id="d">Date: <%= entry.date.toISOString().split('T')[0] %></h6>
                                <h6 class="card-text">District: <%= entry.district %></h6>
                            </div>
                            <div class="card-footer" class="text-center">
                                <% if (locals.user) { %>
                                    <a href="/open/<%= entry.id %>" style="text-decoration:none;">Open | </a>
                                    <a href="/edit/<%= entry.id %>" style="text-decoration:none;">Edit | </a>
                                    <a href="/delete/<%= entry.id %>" style="text-decoration:none;">Delete</a>
                                <% } else { %>
                                    <a href="/open/<%= entry.id %>" style="text-decoration:none;">Open | </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        
    <% } else { %>
        <h5 class="text-center">No Record Found !</h5>
    <% } %>
    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>

    <!-- <table class="table table-striped table-dark" ">
        <thead>
            <tr>
                <th>Date</th>
                <th>Headline</th>
                <th>Newspaper</th>
                <th>Page Number</th>
                <th>District</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% output.forEach((entry) => { %>
                <tr>
                    <td><%= entry.date %></td>
                    <td><%= entry.headline %></td>
                    <td><%= entry.newsPaper %></td>
                    <td><%= entry.pageNumber %></td>
                    <td><%= entry.district %></td>
                    <td>
                        <a href="/open/<%= entry.id %>" style="text-decoration:none;">Open</a>
                        <a href="/edit/<%= entry.id %>" style="text-decoration:none;">Edit</a>
                        <a href="/delete/<%= entry.id %>" style="text-decoration:none;">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table> -->

<%- include('../template/footer') -%>
